<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template.xhtml"
                xmlns:p="http://primefaces.org/ui">
                	
			<ui:define name="pageContent">
	<h:form rendered="#{quizBean.showAllThematicOfThisTeacher()}"/>		
			<h:form id="details">
		
				<p:dataTable rendered="#{not empty quizBean.courses}" 
				             value="#{quizBean.courses}" 
				             var="cour" 
				             rows="7"
				             rowKey="#{cour.id}"
				             paginator="true"
				             paginatorPosition="bottom"
				             filteredValue="#{quizBean.filtredCourses}"
				             selectionMode="single"
				             selection="#{quizBean.course}"
				             widgetVar="courTabW">
				 	<f:facet name="header">
					        <h:outputText value="My Courses" />
					</f:facet>
					
					<h:form rendered="#{quizBean.showAllThematicOfThisTeacher()}"/>		
					
			<p:ajax event="rowSelect" listener="#{quizBean.onRowSelect}" update=":details" />		
					
					<p:column headerText="Course">
						<h:outputText value="#{cour.courseName}" />
					</p:column>
					
			<p:column headerText="Thematic">

			
			<h:outputText value="#{cour.thematic.nameThematic}" />
			
			</p:column>	
					
<f:facet name="footer">

<p:commandButton value="Choise Course" action="#{quizBean.goToChapters()}" disabled="#{quizBean.selected1}"/>
</f:facet>

				</p:dataTable>
			</h:form>
			
			
			
			</ui:define>		
			
</ui:composition>