<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
				template="/template/template.xhtml"
				xmlns:p="http://primefaces.org/ui">

				<ui:define name="pageTitle">course</ui:define>		
			    <ui:define name="pageContent">
               <p:panel header="#{courseBean.course.courseName}">
         
				
				<h:form id="master">
				<h3><h:commandLink action="#{chapterBean.doNew}" value="Chapter 1" /></h3>
				<ui:include src="/pages/teacher/structure/formChapter.xhtml" />
				<h3><h:commandLink action="#{chapterBean.doNew1}" value="Chapter 2" /></h3>
				<ui:include src="/pages/teacher/structure/ formChapter1.xhtml" />
				<h3><h:commandLink action="#{chapterBean.doNew2}" value="Chapter 3" /></h3>
				<ui:include src="/pages/teacher/structure/ formChapter2.xhtml" />
				<h3><h:commandLink action="#{chapterBean.doNew3}" value="Chapter 4" /></h3>
				<ui:include src="/pages/teacher/structure/ formChapter3.xhtml" />
				<h3><h:commandLink action="#{chapterBean.doNew4}" value="Chapter 5" /></h3>
				<ui:include src="/pages/teacher/structure/formChapter4.xhtml" />
				<h:commandButton value="Finish" action="#{courseBean.back}" />
			
				</h:form>
			</p:panel>	
</ui:define>	
</ui:composition>