<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
                	
                	
                	<h:form styleClass="footerC">
                	
                	 Copyright © 2014 ESPRIT - All rights reserved
                	 
                	


                	
                	</h:form>

</ui:composition>