<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template.xhtml"
                xmlns:p="http://primefaces.org/ui">
                	
			<ui:define name="res">
			

	
			
			
			<p:panel header="Your result" footer="Esprit 2013-2014">
			<h2> you have<h1 style="color: red;"> 3/ #{findC.res} </h1> good responces </h2>
				
		
		   
			
			</p:panel>
		<h:form>
		<p:commandButton value="retrun" action="course" actionListener="#{findC.initModel2()}" />
		</h:form>	
			</ui:define>
					
		
</ui:composition>