<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template.xhtml">
                	
			<ui:define name="pageTitle"></ui:define>		
			<ui:define name="pageContent" >
			<h:form styleClass="error">
			<h1>
			
			Bad search
			
			</h1>
			</h:form>
			</ui:define>
</ui:composition>